// .app-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: aquamarine;
//   height: 52px;
//   padding: 0 5%;
//   position: fixed;
//   width: 90vw;
//   top: 0;
//   z-index: 1000;
//   nav {
//     ul {
//       display: flex;
//       gap: 5px;
//       list-style-type: none;
//     }
//   }
// }

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
  height: 52px;
  padding: 0 5%;
  position: fixed;
  width: 90vw;
  top: 0;
  z-index: 1000;
  nav {
    ul {
      display: flex;
      gap: 5px;
      list-style-type: none;
      li {
        a {
          font-weight: 600;
          // text-decoration: none;
          padding: 6px 12px;
          &.active {
            color: red;
            border-bottom: 1px solid red;
          }
          &.disabled {
            color: rgb(91, 89, 89);
          }
          &:hover {
            color: black;
            border-bottom: 1px solid black;
            font-weight: 600;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
